.button {
  min-width: 25rem;
  padding: 1rem 0;
  border: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.3rem;
  transition: all 0.2s;
  /* to remove animation shaking */
  backface-visibility: hidden;

  &:hover {
    transform: translateY(-0.2rem);
    box-shadow: 0 0.1rem 0.4rem rgba(#000, 0.2);
    background-image: linear-gradient(
      to right bottom,
      darken($color-primary-light, 10),
      darken($color-primary-dark, 10)
    );
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
    outline: none;
  }

  &:focus {
    outline: none;
  }

  // ------------------------------------

  &--load-more-button {
    display: block;
    margin: 0 auto;
    margin-top: 7vw;
    padding: 2rem 4rem;
  }

  &--upload-avatar {
    font-size: 1.5rem;
    padding: 1rem 3rem;
  }

  &__my-recipe-card {
    width: 15rem;
    font-size: 2rem;
    padding: 1rem;

    &--delete {
      background-image: linear-gradient(
        to right bottom,
        lighten(red, 10),
        darken(red, 10)
      );

      &:hover {
        background-image: linear-gradient(
          to right bottom,
          lighten(red, 20),
          darken(red, 20)
        );
      }
    }
  }

  &--add-recipe {
    font-size: 6rem;
    font-weight: normal;
    padding: 0 2rem;

    background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.9),
      rgba($color-secondary-dark, 0.9)
    );

    &:hover {
      background-image: linear-gradient(
        to right bottom,
        rgba(darken($color-secondary-light, 10), 0.9),
        rgba(darken($color-secondary-dark, 10), 0.9)
      );
    }
  }
}
