.button {
  // width: 15rem;
  padding: 1rem 0;
  border: none;
  border-radius: 5rem;
  text-transform: uppercase;
  background-image: linear-gradient(
    to right bottom,
    $color-secondary-light,
    $color-secondary-dark
  );
  color: #fff;
  font-size: 2rem;

  transition: 0.1s;

  &:hover {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.1rem 0.4rem #000;
    background-image: linear-gradient(
      to right bottom,
      lighten($color-secondary-light, 10),
      darken($color-secondary-dark, 10)
    );
  }

  &:active {
    transform: translateY(0);
    box-shadow: none;
    outline: none;
  }

  &:focus {
    outline: none;
  }
}
