.input-error-message {
  display: inline-block;
  position: absolute;
  top: -2.2rem;
  left: 0;
  padding: 0.2rem 1rem;
  border-radius: 5rem;
  background-image: linear-gradient(
    to right,
    rgba(orangered, 0.8),
    rgba(red, 0.8)
  );
  color: #fff;
  font-size: 1.1rem;

  &--recipe-form {
    top: 0.8rem;
    left: 0;
    width: fit-content !important;
  }

  &--title {
    left: 39%;
    top: -1.6rem;
  }

  &--file {
    // top: 2.9rem;
    left: 16.5rem;
    // z-index: 10008;
  }
}
