.recipe-card {
  height: 100%;
  display: flex;
  flex-direction: column;

  text-decoration: none;
  color: currentColor;

  transition: all 0.2s;

  &:hover {
    box-shadow: 0 0.1rem 1rem rgba(#000, 0.3);
    // transform: translateY(-0.3rem);
  }

  &__text-box {
    background-color: #fff;
    word-break: break-all;
  }

  &__title {
    word-break: keep-all;
    padding: 0 2rem;
    display: block;
    background-image: linear-gradient(
      to bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 1)
    );

    justify-self: start;
    color: #fff;
  }
  &__description {
    text-indent: 3rem;
    align-self: start;
    color: $color-grey-dark-3;
    height: 100%;
  }

  &__author {
    font-size: 1.2rem;
    color: $color-primary;
  }
}
