.search-form {
  width: 100%;
  display: flex;
  justify-content: center;

  &__input {
    width: 60%;
    outline: none;
    padding: 0.9rem 1.5rem;
    border: 1px solid $color-primary;
    // border-radius: 3rem 0 0 3rem;
    border-right: none;
    font-family: inherit;

    color: $color-grey-dark-1;
    transition: all 0.3s;

    &:focus {
      width: 70%;
    }

    // &:focus {
    //   box-shadow: 0 0.1rem 1rem rgba(#000, 0.3);
    //   // transform: translateY(-0.3rem);
    // }

    &:hover {
      background-color: $color-grey-light-1;
    }

    &::placeholder {
      color: $color-grey-light-4;
    }
  }

  &__button {
    width: 6rem;
    // padding: 0 2rem;
    border: 1px solid $color-primary;
    // border-radius: 0 3rem 3rem 0;
    outline: none;
    text-transform: uppercase;
    color: $color-primary-dark;
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary, 0.8),
      rgba($color-primary-dark, 0.8)
    );
    font-size: 1.8rem;
    font-weight: 700;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: #ffffff;
    }

    // &:hover i {
    //   box-shadow: 0 0.1rem 1rem rgba(#fff, 0.3);
    // }
  }
}
