.button-add {
  padding: 1rem 2.5rem;
  font-size: 5rem;
  color: #fff;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  border: none;
  border-radius: 0.5rem;
  transition: all 0.2s;

  &:hover {
    background-image: linear-gradient(
      to right bottom,
      darken($color-primary-light, 5),
      darken($color-primary-dark, 5)
    );
    transform: translateY(-0.2rem);
    box-shadow: 0 0.3rem 5rem rgba(#000, 0.3);
  }

  &:active {
    outline: none;
    transform: translateY(0);
    box-shadow: none;
  }
}
