.user-nav {
  display: flex;

  & a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;
  }

  &__box {
    height: 5rem;
    padding: 0 3rem;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: rgba($color-secondary-light, 0.2);
    }
  }

  &__line {
    width: 0.2rem;
    height: 5rem;
    background-color: $color-primary;
  }

  &__logged-user {
    display: flex;
    align-items: center;

    & > i {
      color: $color-primary;
      font-size: 3rem;
    }
  }

  &__dropdown {
    position: relative;

    &:hover .user-nav__dropdown-content {
      display: flex;
      flex-direction: column;

      background-color: white;
      border-bottom: 2px solid $color-primary;
    }
  }

  &__dropdown-title {
    width: 16rem;
    cursor: default;
    padding: 0 1.5rem;
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-primary;
    display: flex;
    align-items: center;

    & i {
      width: 2rem;
      padding-top: 0.2rem;
      padding-left: 0.25rem;
      color: rgba($color-secondary, 0.5);
    }
  }

  &__dropdown-content {
    display: none;
    position: absolute;
    width: 16rem;

    & a {
      padding: 0 1.5rem;

      display: flex;
      align-items: center;

      & > i {
        width: 2rem;
        padding: 1rem 0;
        color: rgba($color-secondary, 0.5);
      }
    }
    & a:hover {
      background-color: rgba($color-secondary-light, 0.2);
    }
  }

  &__avatar {
    width: 5rem;
    border: 1px solid $color-primary;
  }
}
