// FONT
$default-font-size: 1.6rem;

// COLOR
$color-primary: #f6b245;
$color-primary-light: #f39600;
$color-primary-dark: #d88601;

$color-secondary: #289eba;
$color-secondary-light: #33a9c6;
$color-secondary-dark: #258da7;

$color-grey-light-1: #faf9f9;
$color-grey-light-2: #f4f2f2;
$color-grey-light-3: #f0eeee;
$color-grey-light-4: #ccc;

$color-grey-dark-1: #333;
$color-grey-dark-2: #777;
$color-grey-dark-3: #999;
