.account__container {
  margin: 0 auto;
  margin-top: 5rem;
  max-width: 120rem;

  display: flex;
  justify-content: center;
}

.account-card {
  width: 80rem;
  height: 60rem;
  display: flex;

  &__img {
    position: relative;

    width: 50%;
    // height: 100%;
    // background-color: green;
    background-image: linear-gradient(
        to left bottom,
        rgba($color-primary-dark, 0.8),
        rgba($color-primary-light, 0.8)
      ),
      url('../../img/food-1jpg.jpg');
    // background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    // object-fit: fill;

    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;

    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;

    & > img,
    & > i {
      align-self: flex-end;
    }

    & > .account-card__upload-avatar {
      align-self: flex-start;
    }

    & button {
      margin-top: 3rem;
    }
  }

  &__upload-avatar {
    display: flex;
    flex-direction: column;

    & > span {
      color: #fff;
      font-size: 1.2rem;
    }
  }

  &__avatar {
    width: 50%;
    // height: 50%;
    // object-fit: fill;
    //   display: block;
    //   width: 10%;
  }

  &__icon {
    color: #fff;
    font-size: 15rem;
  }

  &__actions {
    width: 50%;
    height: 100%;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & > h5 {
      color: $color-primary;
      font-size: 4rem;
      text-transform: capitalize;
    }

    & > .button-text {
      margin-top: 2rem;
    }
  }

  &__signup-date {
    font-size: 1rem;
    color: $color-grey-light-4;
  }
}
