.section-about {
  padding: 0 5rem;
  height: 90vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url('../../img/brooke-lark.jpg');

  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  &__container {
    max-width: 120rem;
    margin: 0 auto;
  }
}

.section-recipes {
  background-color: $color-grey-light-2;
  margin-top: -100rem;
  padding-top: 100rem;
  margin-bottom: -1rem;

  &__container {
    max-width: 120rem;
    margin: 10rem auto;
    margin-bottom: 0;
    padding-bottom: 10rem;
    position: relative;
    // background-color: $color-grey-light-2;
  }

  &__list {
    padding: 0 10vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-row-gap: 6vw;
    grid-column-gap: 22.5rem;

    // justify-items: center;
    // align-items: center;
  }

  &__big-card-wrapper {
    position: absolute;
    top: -55rem;
    right: -20rem;
  }
}
