*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1 rem is 10px
  height: 100%;
}

body {
  box-sizing: border-box;
  height: 100%;
  background-color: $color-grey-light-2;
}

#root {
  height: 100%;

  display: flex;
  flex-direction: column;
}

::selection {
  background-color: $color-primary;
  color: white;
}
